<!DOCTYPE html>
<head>
  <title>OpenAI Budgeting Assistant</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='budget.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='budget.css') }}" />
</head>

<body>
  <h3 class="title">Budgeting Assistant</h3>
  <form action="/budgeting" method="post" id="budgetForm">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.income.label }}<br>
      {{ form.income(class='form-control', type='number', required=True) }}<br>
    </div>
    <div class="form-group">
      {{ form.rent.label }}<br>
      {{ form.rent(class='form-control', type='number') }}<br>
    </div>
    <div class="form-group">
      {{ form.utilities.label }}<br>
      {{ form.utilities(class='form-control', type='number') }}<br>
    </div>
    <div class="form-group">
      {{ form.groceries.label }}<br>
      {{ form.groceries(class='form-control', type='number') }}<br>
    </div>
    <div class="form-group">
      {{ form.others.label }}<br>
      {{ form.others(class='form-control', type='number') }}<br>
    </div>
    <input type="submit" value="Calculate Budget" class="submitBtn">
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
