<!DOCTYPE html>
<head>
  <title>OpenAI Spending Assistant</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='spend.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='spending.css') }}" />
</head>

<body>
  <h3 class="title">Spending Assistant</h3>
  <form action="/spending" method="post" id="spendingForm">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.food.label }}<br>
      {{ form.food(class='form-control', type='number') }}<br>
    </div>
    <div class="form-group">
      {{ form.entertainment.label }}<br>
      {{ form.entertainment(class='form-control', type='number') }}<br>
    </div>
    <div class="form-group">
      {{ form.transportation.label }}<br>
      {{ form.transportation(class='form-control', type='number') }}<br>
    </div>
    <div class="form-group">
      {{ form.others.label }}<br>
      {{ form.others(class='form-control', type='number') }}<br>
    </div>
    <input type="submit" value="Analyze Spending" class="submitBtn">
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
